{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="about-masthead  container-fluid p-0">
        <div class="bg-img" data-0="transform: scale(1)" data-200="transform[bounce]:scale(2)"></div>
        <div class="container">
            <div class=" text-center">
                <h1 class="w-75 mx-auto wow fadeInUp" data-wow-delay="0s" data-wow-duration="0.5s" >PEOPLE BEHIND SWIFTKIND</h1>
                <p class="mx-auto  wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="0.5s"> A small team of keen, specialized and diverse people believing that our works could improve people’s daily lives. Fueled by our passion for our work, we pursue learning to keep up with the best practices and industry standards.</p>
            </div>
        </div>
    </div>
    <div class="about-us-intro">
    	<div class="container">
    		<p class="section-title wow fadeInUp"  data-wow-duration="0.5s" data-wow-delay="0s">
				THINGS WE DO
			</p>
			<div class="row">
				<div class="col-md-7">
					<div class="section-content">
						<h2  class="wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="0.5s">We are Swiftkind. We are no-nonsense, creative and dedicated group of individuals working together to produce benchmark products.</h2>
					</div>
				</div>
				<div class="col-md-5 text-center">
					<!-- <img src="{% static 'images/proactive.svg' %}" class="img-fluid proactive"> -->

				</div>
			</div>
    	</div>
    </div>
    <div class="about-section-two">
    	<div class="container-fluid p-0">
    		<div class="row no-gutters align-items-center">
    			<div class="col-md-6">
    				<img src="{% static 'images/off-42.png' %}"
					     srcset="{% static 'images/off-42@2x.png' %} 2x,
					             {% static 'images/off-42@3x.png' %} 3x"
					     class="img-fluid">
    			</div>
    			<div class="col-md-6">
    				<div class="section-content ">
    					<h2 class="uppercase wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="0.5s">IDEAS HAVE NO BOUNDARIES. <br/>WE HAVE NO LIMITS.</h2>
    					<p  class="wow fadeInUp" data-wow-delay="0.75s" data-wow-duration="0.5s">
    						Our wide range of expertise combined with honest approach strengthen our relationship with our clients. This fuels us to work harder to come up with products that exceed expectations.
    					</p>
    					<p  class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.5s">
    						Combining our creative thinking and problem solving skills, we deliver the right solutions that would allow our clients to meet objectives and business requirements.
    					</p>
    					<a href="process.html" class="primary-link btn box wow fadeIn" data-speed="4"  data-wow-duration="0.5s" data-wow-delay="1.5s">
							<span class="icon ion-ios-arrow-right"></span>
							UNDERSTAND OUR  PROCESS
						</a>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="start-project-section">
    	<div class="container">
    		<div class="text-content ">
    			<h3  class="wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="0.5s">We also take immense pride on our dedication to our clients through swift response and exceptional customer service. With full enthusiasm, we seek to build solid long term relationship based on trust.</h3>
    			<a href="contact.html" class="secondary-link wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.5s">
					Start a project with us
					<span class="icon ion-ios-arrow-right"></span>
				</a>
    		</div>
			<img src="{% static 'images/logo-square.svg' %}"
			     class="logo-square">
    	</div>
    </div>
    <div class="about-team">
    	<div class="container">
    		<!-- Swiper -->
		  	<div class="team-swiper swiper-container">
			    <div class="swiper-wrapper">
			      	<div class="swiper-slide d-flex align-items-center justify-content-between">
			      		<img src="{% static 'images/earvin-1.png' %}"
                             srcset="{% static 'images/earvin-1@2x.png' %} 2x,
                                     {% static 'images/earvin-1@3x.png' %} 3x"
                             class="earvin1">
						<div class="member-info">
							<h3>Earvin Gemenez</h3>
							<h5 class="uppercase">CEO</h5>
							<a href="#">
								<span class="icon ion-social-twitter"></span>
							</a>
						</div>
						<div>
							<p class="qoute">
								
							</p>
						</div>
			      	</div>
			      	<div class="swiper-slide d-flex align-items-center justify-content-between">
			      		<img src="{% static 'images/ralph-1.png' %}"
                             srcset="{% static 'images/ralph-1@2x.png' %} 2x,
                                     {% static 'images/ralph-1@3x.png' %} 3x"
                             class="ralph1">
						<div class="member-info">
							<h3>Ralph Leyga</h3>
							<h5 class="uppercase">COO</h5>
							<a href="#">
								<span class="icon ion-social-twitter"></span>
							</a>
						</div>
						<div>
							<p class="qoute">
								
							</p>
						</div>
			      	</div>
                    <div class="swiper-slide d-flex align-items-center justify-content-between">
                        <img src="{% static 'images/manny-1.png' %}"
                             srcset="{% static 'images/manny-1@2x.png' %} 2x,
                                     {% static 'images/manny-1@3x.png' %} 3x"
                             class="manny1">

                        <div class="member-info">
                            <h3>Manny Candidier</h3>
                            <h5 class="uppercase">CTO</h5>
                            <a href="#">
                                <span class="icon ion-social-twitter"></span>
                            </a>
                        </div>
                        <div>
                            <p class="qoute">
                                
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide d-flex align-items-center justify-content-between">
                        <img src="{% static 'images/resty-2.png' %}"
                             srcset="{% static 'images/resty-2@2x.png' %} 2x,
                                     {% static 'images/resty-2@3x.png' %} 3x"
                             class="resty2">

                        <div class="member-info">
                            <h3>Restie Antiquin</h3>
                            <h5 class="uppercase">UI/UX Designer</h5>
                            <a href="#">
                                <span class="icon ion-social-twitter"></span>
                            </a>
                        </div>
                        <div>
                            <p class="qoute">
                                
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide d-flex align-items-center justify-content-between">
                        <img src="{% static 'images/kevin-3.png' %}"
                             srcset="{% static 'images/kevin-3@2x.png' %} 2x,
                                     {% static 'images/kevin-3@3x.png' %} 3x"
                             class="kevin3">


                        <div class="member-info">
                            <h3>Kevin Kalis</h3>
                            <h5 class="uppercase">Software Engineer</h5>
                            <a href="#">
                                <span class="icon ion-social-twitter"></span>
                            </a>
                        </div>
                        <div>
                            <p class="qoute">
                                “Kevin is a trailblazer”   -kevin
                            </p>
                        </div>
                    </div>
                    
                    <div class="swiper-slide d-flex align-items-center justify-content-between">
                        <img src="{% static 'images/gong-3.png' %}"
                             srcset="{% static 'images/gong-3@2x.png' %} 2x,
                                     {% static 'images/gong-3@3x.png' %} 3x"
                             class="gong3">

                        <div class="member-info">
                            <h3>Jerome Rumbaoa</h3>
                            <h5 class="uppercase">Software Engineer</h5>
                            <a href="#">
                                <span class="icon ion-social-twitter"></span>
                            </a>
                        </div>
                        <div>
                            <p class="qoute">
                                
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide d-flex align-items-center justify-content-between">
                        <img src="{% static 'images/dudz-2.png' %}"
                             srcset="{% static 'images/dudz-2@2x.png' %} 2x,
                                     {% static 'images/dudz-2@3x.png' %} 3x"
                             class="dudz2">

                        <div class="member-info">
                            <h3>Sanny Candidier</h3>
                            <h5 class="uppercase">Software Engineer</h5>
                            <a href="#">
                                <span class="icon ion-social-twitter"></span>
                            </a>
                        </div>
                        <div>
                            <p class="qoute">
                                
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide d-flex align-items-center justify-content-between">
                        <img src="{% static 'images/sam-1.png' %}"
                             srcset="{% static 'images/sam-1@2x.png' %} 2x,
                                     {% static 'images/sam-1@3x.png' %} 3x"
                             class="sam1">

                        <div class="member-info">
                            <h3>Sam Benemerito</h3>
                            <h5 class="uppercase">Software Engineer</h5>
                            <a href="#">
                                <span class="icon ion-social-twitter"></span>
                            </a>
                        </div>
                        <div>
                            <p class="qoute">
                                
                            </p>
                        </div>
                    </div>
			      	<div class="swiper-slide d-flex align-items-center justify-content-between">
			      		<img src="{% static 'images/king-1.png"
                             srcset="{% static 'images/king-1@2x.png' %} 2x,
                                     {% static 'images/king-1@3x.png' %} 3x"
                             class="king1">

						<div class="member-info">
							<h3>King Rule</h3>
							<h5 class="uppercase">Software Engineer</h5>
							<a href="#">
								<span class="icon ion-social-twitter"></span>
							</a>
						</div>
						<div>
							<p class="qoute">
								
							</p>
						</div>
			      	</div>
			    </div>
			    <!-- Add Scrollbar -->
				<div class="swiper-scrollbar"></div>
			    <!-- Add Arrows -->
			    <div class="swiper-button-next"></div>
		  	</div>
    	</div>
    </div>
    <div class="our-principles">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6 offset-md-6">
    				<div class="text-content text-right">
    					<h3  class="wow fadeInUp" data-wow-delay="0s" data-wow-duration="0.5s">To ensure quality, we assume responsibility for the project throughout the entire process.</h3>
    					<p  class="wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="0.5s">
    						Believing that quality is the core of our work, we are taking one step at time by defining what actually matters to us.
    					</p>
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="section-content">
    					<h3  class="wow fadeInUp" data-wow-delay="0.75s" data-wow-duration="0.5s">Our purpose</h3>
        				<p  class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.5s">
        					We design and develop applications that kick off the way people work, play and live. Our designers and strategists work closely to identify needs, design and define functionalities, determine timelines that would allow us to deal with any contingencies and deliver on time.
        				</p>
    				</div>
    			</div>
    			<div class="col-md-6">
    				<div class="section-content">
    					<h3  class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.5s">Our mission</h3>
    					<p  class="wow fadeInUp" data-wow-delay="1.25s" data-wow-duration="0.5s">
        					We dream of a world where we can inspire more people to create greater solutions that would give everyone the capacity to solve more problems and make everyday life easier by the use of the technology, creativity and skills we have.
        				</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}
