{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero h-100 d-flex align-items-center position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 col-lg-7 col-sm-12">
                <h1 class="h1 medium text-dark-grey mb-4">We’re crafting digital solutions to step up your game</h1>
                <h2 class="h3 text-slate-grey regular mb-4">We are a swiftkind.</h2>
                <a href="contact.html" class="medium h4 btn-cta">Get in touch</a>
            </div>
            <div class="col-md-4 col-lg-5 col-xs-5">
                <img src="{% static 'images/running.svg' %}" class="running d-none d-sm-block">
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container text-center">
        
        <div class="w-sm-75 mx-auto mt-5 w-xs-100">
            <img src="{% static 'images/actions.svg' %}" class="illustration img-fluid w-sm-50 w-xs-100 mb-5 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s">
            <h2 class="h2 medium text-dark-grey w-75 mx-auto mb-4  wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="0.5s">We’re crafting digital solutions to step up your game</h2>
            <div class="h-div mx-auto  wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="0.5s"></div>
            <p class="mt-4  wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s">Committed to deliver products that innovate the way people connect and work. Creating experiences that help individuals, startups, brands and corporations innovate and change lives.</p>
            <div class="d-flex justify-content-center  wow fadeInUp mb-5" data-wow-delay="1s" data-wow-duration="0.5s">
                <div class="m-3">
                    <p class="h1 text-dark-grey bold">13</p>
                    <p class="text-dark-grey">Team members</p>
                </div>
                <div class="m-3">
                    <p class="h1 text-dark-grey bold">19</p>
                    <p class="text-dark-grey">Total Projects</p>
                </div>
                <div class="m-3">
                    <p class="h1 text-dark-grey bold">02</p>
                    <p class="text-dark-grey">Years in Business</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-slanted-highlight py-5 mb-5 h-md-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <h3 class="medium text-dark-grey  wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s">Things we’re good at</h3>
                <div class="h-div  wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s"></div>
                <p class="text-gunmetal  wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="0.5s">Just a small team aiming to produce delightful experiences and disruptive digital products.</p>
            </div>
            <div class="col-lg-6 col-md-7 offset-lg-1 offset-md-0">
                <div class="row my-3 no-gutters">
                    <div class="col-md-6 text-center p-3">
                        <div class="card-shadow svc-box p-5  text-center  wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s">
                            <img src="{% static 'images/web-dev.svg' %}" class="web-dev img-fluid">
                            <p class="mb-0">Web Development</p>
                        </div>
                    </div>

                    <div class="col-md-6 text-center p-3">
                        <div class="card-shadow svc-box p-5  text-center  wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.5s">
                            <img src="{% static 'images/ux-design.svg' %}" class="design img-fluid">

                            <p class="mb-0">UI/UX Design</p>
                        </div>
                    </div>

                    <div class="col-md-6 text-center p-3">
                        <div class="card-shadow svc-box p-5  text-center  wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.5s">
                            <img src="{% static 'images/cross-platform.svg' %}" class="cross-platform img-fluid">
                            <p class="mb-0">Cross-Platform Apps</p>
                        </div>
                    </div>

                    <div class="col-md-6 text-center p-3">
                        <div class="card-shadow svc-box p-5  text-center  wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s">
                            <img src="{% static 'images/api.svg' %}" class="api img-fluid">
                            <p class="mb-0">API Development</p>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</section>
<section class=" pt-5">
    <div class="container">
        <div class="w-lg-50 w-sm-75 mx-auto text-center">
            <h3 class="text-dark-grey medium  wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s">This is how we do</h3>
            <div class="h-div mx-auto  wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s"></div>
            <p class="text-gunmetal mb-5  wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.5s">Live-edge jean shorts marfa, intelligentsia fam blog yuccie thundercats pork belly selfies meh. Knausgaard locavore roof party normcore church-key tote bag meggings.</p>
        </div>
        <div class="project-process mx-auto w-75 my-5">
            <div class="text-center  wow fadeInUp process-item" data-wow-delay="0.6s" data-wow-duration="0.5s">
                <img src="{% static 'images/inquiry-icon.svg' %}" class="inquiry-icon">
                <h4 class="text-dark-grey medium">Inquiry</h4>
            </div>
            <div class="dashed-line"></div>
            <div class="text-center  wow fadeInUp process-item" data-wow-delay="0.8s" data-wow-duration="0.5s">
                <img src="{% static 'images/strat-icon.svg' %}" class="strat-icon">

                <h4 class="text-dark-grey medium">Strategy</h4>
            </div>
            <div class="dashed-line"></div>
            <div class="text-center  wow fadeInUp process-item" data-wow-delay="1s" data-wow-duration="0.5s">
                <img src="{% static 'images/exec-icon.svg' %}" class="exec-icon">
                <h4 class="text-dark-grey medium">Execute</h4>
            </div>
        </div>
    </div>
</section>
<section class="h-sm-25 align-items-center d-flex mb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6">
                <h2 class="text-dark-grey  wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s">Stuff we’re proud of.</h2>
                <div class="h-div  wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s"></div>
            </div>
            <div class="col-lg-5 col-md-6">
                <p class="text-gunmetal  wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.5s">Our constant desire to build solutions using cutting-edge technologies often leads us to enjoyable experiences.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-3 mb-5">
                <div class="text-center  wow fadeInUp project-item" data-wow-delay="0.2s" data-wow-duration="0.5s">
                    <img src="{% static 'images/illustration-2.svg' %}" class="illustration2 img-fluid">

                    
                </div>
            </div>
            <div class="col-md-3 offset-md-1 mb-5">
                <div class="text-center  wow fadeInUp project-item" data-wow-delay="0.4s" data-wow-duration="0.5s">
                    <img src="{% static 'images/illustration-3.svg' %}" class="illustration3 img-fluid">
                     
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3 offset-md-3 mb-5">
                <div class="text-center  wow fadeInUp project-item" data-wow-delay="0.6s" data-wow-duration="0.5s">
                    <img src="{% static 'images/illustration-1.svg' %}" class="illustration1 img-fluid">
                     
                </div>
            </div>
            <div class="col-md-3 offset-md-1 mb-5">
                <div class="text-center  wow fadeInUp project-item" data-wow-delay="0.8s" data-wow-duration="0.5s">
                <img src="{% static 'images/illustration-4.svg' %}" class="illustration4 img-fluid">
                 
            </div>
            </div>
        </div>
    </div>
</section>
<section class="h-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12">
                <p class=" text-dark-grey  wow fadeInUp text-highlight" data-wow-delay="0.2s" data-wow-duration="0.5s">A small team of keen, specialized and diverse people believing that our works could improve people’s daily lives. Fuelled by our passion for our work, we pursue learning to keep up with the best practices and industry standards.
            </p>
                <div class="h-div  wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s"></div>
                <a href="about.html" class=" wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s">Meet our team</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}