{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="h-sm-100 d-sm-flex align-items-center hero process-hero d-none">
	<div class="container py-5">
		
		<div class="wow fadeInUp " data-wow-delay="0.5s" data-wow-duration="0.5s">
		<img src="{% static 'images/process-diagram.svg' %}" class="">

		</div>
	</div>
</section>
<section class="d-block d-sm-none process-sm">
	<div class="container text-center">
		<h2 class="text-dark-grey medium d-sm-none d-block mb-5 wow fadeInUp " data-wow-delay="0.5s" data-wow-duration="0.5s">This is how we do</h2>
		<div class="d-block d-sm-none wow fadeInUp " data-wow-delay="1s" data-wow-duration="0.5s">
			<img src="{% static 'images/process-sm.svg' %}" class="">
		</div>

	</div>
</section>
<section class="h-sm-75 h-xs-100 pt-5 d-flex align-items-center">
	<div class="container pt-5">
		<div class="text-center">
			<h2 class="text-dark-grey medium d-sm-block d-none">This is how we do</h2>
			<div class="h-div mx-auto"></div>
			<p class="h4  text-gunmetal mb-4 text-center wow fadeInUp w-md-75 mx-auto" data-wow-delay="0.2s" data-wow-duration="0.5s">A small team of keen, specialized and diverse people believing that our works could improve people’s daily lives. Fuelled by our passion for our work, we pursue learning to keep up with the best practices  and industry standards.</p>
		
		</div>
	</div>
</section>
<section class="bg-slanted-highlight py-5 h-100 testimonies">
	<div class="container py-5">
		<div class="row">
			<div class="col-lg-5 col-md-6 ">
				<p class="h3 text-dark-grey  wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.5s">Over the years we managed to create projects for our clients and here’s what they’ve said about us:</p>
				<div class="h-div  wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.5s"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 offset-md-5  wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.5s">
				<p class="message">Lorem ipsum dolor amet hot chicken Austin tbh ramps hexagon four dollar toast microdosing deep v semiotics taiyaki gluten-free glossier. 8-bit cardigan street art, next level keffiyeh Tumblr jianbing post-ironic marfa woke XOXO farm-to-table bicycle rights schlitz. </p>
				<div class="author d-flex align-items-center">
					<p class="medium text-dark-grey">JOHN DOE</p>
					<p>-</p>
					<p>johndoe.com</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10">
				<h4 class="medium text-dark-grey  wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="0.5s">Our Standpoint</h4>
				<div class="h-div mb-5  wow fadeInUp" data-wow-delay="0.56s" data-wow-duration="0.5s"></div>
				<p class="h3 text-dark-grey mb-5  wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s">We differentiate ourselves by being extremely attentive to our clients. Helping them in any way we can even if it doesn’t benefit us immediately. Because that’s what our clients are going to remember.</p>
				<p class=" wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.5s">- Earvin Gemenez, CEO</p>
			</div>
		</div>
	</div>
</section>
<section class="bg-blocked mb-5">
	<div class="container">
		 <div class="row mb-5">
		 	<div class="col-md-5">
		 		<h4 class="medium text-dark-grey mb-4  wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.5s">Our Standard</h4>
		 		<div class="h-div mb-5 text-gunmetal"></div>
		 		
		 	</div>
		 </div>
		 <div class="row mb-5">
		 	<div class="col-md-5 logo-item">
		 		<img src="{% static 'images/agile.png' %}"
				     srcset="{% static 'images/agile@2x.png' %} 2x,
				             {% static 'images/agile@3x.png' %} 3x"
				     class="agile mb-5 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.5s">
				<h4 class="medium text-dark-grey mb-3 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.5s">We are agile</h4>
				<p class=" wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s">We value small things that matter. We minimize the complex stuff to make things easier and workable in everything we do and every people we deal with.</p>
		 	</div>
		 	<div class="col-md-5 offset-md-1 logo-item">
		 		<img src="{% static 'images/no-errors.png' %}"
			     srcset="{% static 'images/no-errors@2x.png' %} 2x,
			             {% static 'images/no-errors@3x.png' %} 3x"
			     class="no-errors mb-5 wow fadeInUp" data-wow-delay="0.6s" data-wow-duration="0.5s">

				<h4 class="medium text-dark-grey mb-3 wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s">Errors should not pass silently.</h4>
				<p class=" wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.5s">We value trust and Integrity is a must. We keep that by making sure things are extremely transparent.</p>
		 	</div>
		 </div>
		 <div class="row mb-5">
		 	<div class="col-md-5 logo-item">
		 		<img src="{% static 'images/quality.png' %}"
				     srcset="{% static 'images/quality@2x.png' %} 2x,
				             {% static 'images/quality@3x.png' %} 3x"
				     class="quality mb-5  wow fadeInUp" data-wow-delay="0.8s" data-wow-duration="0.5s">
				<h4 class="medium text-dark-grey mb-3 wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.5s">Quality over quantity</h4>
				<p class=" wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1.2s">Easier said than done but we rather be working with one or a few just to make sure we get things right.</p>
		 	</div>
		 	<div class="col-md-5 offset-md-1 logo-item">
		 		<img src="{% static 'images/cycle.png' %}"
				     srcset="{% static 'images/cycle@2x.png' %} 2x,
				             {% static 'images/cycle@3x.png' %} 3x"
				     class="cycle mb-5  wow fadeInUp" data-wow-delay="1s" data-wow-duration="0.5s">

				<h4 class="medium text-dark-grey mb-3  wow fadeInUp" data-wow-delay="1.2s" data-wow-duration="0.5s">Make it better, everyday.</h4>
				<p class=" wow fadeInUp" data-wow-delay="1.4s" data-wow-duration="0.5s">It’s a cycle we always do. Everyday there’s a room to learn something new and work for a lot better tomorrow.</p>
		 	</div>
		 </div>
		 
	</div>
</section>
{% endblock %}