@font-face{
	font-family: 'Sans-Bold';
	src: url('../fonts/maax/Sans-Bold.ttf');
	font-weight:normal;
	font-style: normal;
}
@font-face{
	font-family: 'Sans-BoldItalic';
	src: url('../fonts/maax/Sans-BoldItalic.ttf');
	font-weight:normal;
	font-style: normal;
}
@font-face{
	font-family: 'Sans-Italic';
	src: url('../fonts/maax/Sans-Italic.ttf');
	font-weight:normal;
	font-style: normal;
}
@font-face{
	font-family: 'Sans-Medium';
	src: url('../fonts/maax/Sans-Medium.ttf');
	font-weight:normal;
	font-style: normal;
}
@font-face{
	font-family: 'Sans-MediumItalic';
	src: url('../fonts/maax/Sans-MediumItalic.ttf');
	font-weight:normal;
	font-style: normal;
}
@font-face{
	font-family: 'Sans-Regular';
	src: url('../fonts/maax/Sans-Regular.ttf');
	font-weight:normal;
	font-style: normal;
}

html,body{
	font: normal normal 16px/1.5 'Sans-Regular', sans-serif;
	height: 100%;
	color:#4a505f;
	line-height: 1.5;
}
main{
	height: 100%;
	display: initial;
}