body {
    overflow-x: hidden;
}

//typography

h1,
.h1 {
    font-size: $h1;

    @include tablet {
        font-size: 1.8rem;
        line-height: 1.4;
    }

    @include mobile {
        font-size: 1.8rem;
    }
}

h2,
.h2 {
    font-size: $h2;

    @include tablet {
        font-size: 1.5rem;
        line-height: 1.4;
    }

    @include mobile {
        font-size: 1.5rem;
    }
}

h3,
.h3 {
    font-size: $h3;
    line-height: 1.25;

    @include tablet {
        font-size: 1.2rem;
        line-height: 1.4;
    }

    @include mobile {
        font-size: 1.2rem;
            line-height: 1.4;
    }
}

h4,
.h4 {
    font-size: $h4;
    line-height: 1.5;
}

h5,
.h5 {
    font-size: $h5;
    line-height: 1.5;
}

h6,
.h6 {
    font-size: $h6;
    line-height: 1.5;
}

p {
    font-size: $h5;
    line-height: 1.5;
}

label {
    font-size: 1rem;
}

small {
    font-size: 0.85rem;
}


a {
    color: $primary;
    text-decoration: none !important;

}


//font-weights

.regular {
    font-family: $Sans-Regular;
    letter-spacing: -1.1px;

}

.medium {
    font-family: $Sans-Medium;
}

.bold {
    font-family: $Sans-Bold;
}


//text-colors

.text-slate-grey {
    color: $slate-grey;
}

.text-primary {
    color: $primary !important;
}

.text-gunmetal {
    color: $gunmetal;
}

.text-dark-grey {
    color: $dark-grey;
}
.text-highlight{
	font-size: 2rem;
	@include tablet{
		font-size: 1.5rem;
	}
	@include mobile{
		font-size: 1.2rem;
	}
}


.text-spaced-1{
    letter-spacing:1px;
}

.bg-slanted-highlight {
    position: relative;
    background: #f7fdfb;

    &:before {
        content: "";
        border-top: 100px solid transparent;
        border-right: 100vw solid $white;
        position: absolute;
        bottom: 0;
        height: 200px;

    }
}

.bg-blocked {
    position: relative;
    background: #f7fdfb;
    margin-top: 200px;
    padding-bottom: 100px;

    &:before {
        content: "";
        border-right: 200px solid transparent;
        height: 100px;
        position: absolute;
        width: 70%;
        top: -100px;
        z-index: 1;
        border-bottom: 100px solid #f7fdfb;

    }
}

//lines

.h-div {
    display: block;
    width: 76px;
    height: 8px;
    background-image: linear-gradient(96deg, $primary, rgba(5, 117, 230, 0.1));
    margin-top: 1rem;
    margin-bottom: 1rem;
}

//cards

.card-shadow {
    border-radius: 10px;
    box-shadow: 0 3px 20px 0 rgba(145, 177, 155, 0.16);
    background-color: #ffffff;
    display: inline-block;
  
}


//modal

.modal{
    background:#0c142780;
    .modal-content{
        border:none;
        .modal-footer{
            border:none;
        }
    }
    @include mobile{
  
    }
}

