//typography variables
$Sans-Bold: 'Sans-Bold';
$Sans-BoldItalic: 'Sans-BoldItalic';
$Sans-Italic: "Sans-Italic";
$Sans-Medium: "Sans-Medium";
$Sans-MediumItalic: "Sans-MediumItalic";
$Sans-Regular: "Sans-Regular";
//Primary colors
 $primary: #0edc87;
$dark-grey: #0c1427;
$gunmetal: #4a505f;
$slate-grey:#5a6977;

$white: #ffffff;
// Mood Colors

//secondary colors

$ice-blue:#f6fbfa;



//type sizes
$basefont: 16;
$h1: #{46 / $basefont}rem;
$h2: #{36 / $basefont}rem;
$h3: #{24 / $basefont}rem;
$h4: #{20 / $basefont}rem;
$h5: #{$basefont / $basefont}rem;
$h6: #{14 / $basefont}rem;
$small: #{12 / $basefont}rem;