//typography variables
$lt-bl: 'Lato-Black';
$lt-bli: 'Lato-BlackItalic';
$lt-bld: 'Lato-Bold';
$lt-lgt: 'Lato-Light';
$lt-lgti: 'Lato-LightItalic';
$lt-md: 'Lato-Medium';
$lt-rgl: 'Lato-Regular';
$lt-rgli: 'Lato-Italic';
$lt-sb: 'Lato-Semibold';
$lt-sbi: 'Lato-SemiboldItalic';
$pr-lgt: 'ProximaNova-light';

//Primary colors

$white: #ffffff;
$background-color: #000000;
$grey: #70797e;
$primary:#0edc87;

// Mood Colors

// $success: #45e0aa;
// $danger: #e04551;
// $warning: #ffde52;
// $info: #4a73fa;


//secondary colors




//font-sizes:
$basefont: 16;
$h1: #{72 / $basefont}em;
$h2: #{56 / $basefont}em;
$h3: #{42 / $basefont}em;
$h4: #{36 / $basefont}em;
$h5: #{24 / $basefont}em;
$h6: #{18 / $basefont}em;
$paragraph: #{16 / $basefont}em;
$small: #{12 / $basefont}em;


