.page-wrapper{
    height: 100%;
}
.section {
    min-height: 800px;
    position: relative;
    
}
.section-title {
        position: absolute;
        top: 5em;
        color: $primary;
        letter-spacing: 1.4px;
        &:after {
            content: "";
            width: 50px;
            height: 4px;
            background: $primary;
            display: block;
            margin-top: 0.2rem;
        }
    }

.text-content {
    h2 {
        margin-bottom: 1.5rem;
    }
    p {
        color: $grey;
        margin-bottom: 2rem;
        position: relative;
        margin-left: 3rem;
        &:before {
            content: "";
            width: 2rem;
            height: 2px;
            background: $primary;
            display: block;
            position: absolute;
            margin-left: -3rem;
            top: 0.75rem;
        }
    }
    &.text-right {
        p {
            margin-left: auto;
        }
    }
}

.section-content{
    
    h2{
        font-family:$DINNextLTPro-Light;
        color: $white;
    }
    p{
       color: $grey;
        margin-bottom: 2rem;
        width: 90%;
    }
    .uppercase{
            text-transform: uppercase;
            letter-spacing:1px;
        }
}
