@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes pd-fadeInUp {
    from {
        opacity: 0.5;
        -webkit-transform: translate(277 100);
        transform: translate(277 100);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(277 280);
        transform: translate(277 280);
    }
}

@keyframes pd-fadeInUp  {
    from {
        opacity: 0.5;
        -webkit-transform: translate(277 100);
        transform: translate(277 100);
    }

    to {
        opacity: 1;
        -webkit-transform: translate(277 280);
        transform: translate(277 280);
    }
}


