footer {
    position: relative;
    margin-top: 100px;

    .text-center {
        z-index: 1;
        position: relative;
    }

    .contact-cta {
        max-width: 923px;
        height: 412px;
        border-radius: 10px;
        box-shadow: 0 10px 20px 0 rgba(160, 195, 198, 0.16);
        background-color: #ffffff;
        padding: 3.75rem;
        position: relative;
        margin-bottom: 6.125rem;

        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 219.2px;

            background: {
                image: url('../images/path-53.svg');
                size: cover;

            }

            position:absolute;
            bottom:0;
            left:0;
            z-index: 0;
        }

        @include mobile {
            padding: 1rem;
        }
    }

    &:before {
        content: "";
        width: 100%;
        height: 653px;
        background-color: #f8feff;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
    }
}

.btn-cta {
    width: 207px;
    height: 51px;
    border-radius: 6px;
    background: $primary;
    color: $white !important;
    box-shadow: 0 3px 10px 0 rgba(3, 65, 48, 0.16);
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
        @include transition(all ease 0.5s);
    &:hover{
        background: darken($primary, 5%);
            @include transition(all ease 0.5s);
            color: $white !important;
    }
}