.hero {
    background-image: linear-gradient(116deg, #e9fdfa, #ffffff);

    &:before {
        content: "";
        border-left: 50vw solid $white;
        border-right: 50vw solid $white;
        height: 100px;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 1;
        border-top: 100px solid transparent;
        box-shadow: 0 -21px 20px 0 rgba(232, 250, 243, 0.16);
    }
    @include mobile{
        text-align:center;
        .btn-cta{
            margin-left:auto;
            margin-right:auto;
            @include inline-flexbox();
        }
    }
}

.dashed-line {
    border: dashed 0.5px #707070;
    width: 284px;
    height: 1px;
}

.svc-box {
    width: 100%;
    height: 222px;
    img{
    	max-width: 100px;
    }
    @include tablet{
    	    max-width: 175px;
    }
    @include mobile {
    	 width: 210px;
        margin: 1rem auto;
        @include flexbox();
        @include align-items(center);
        @include flex-direction(column);
        img {
            width: 75%;

        }
    }
}


.project-process {
	@include flexbox();
	@include align-items(center);
	@include justify-content(space-between);
    img{
        max-width: 3.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
	@include mobile{
		@include flex-direction(column);
		.dashed-line{
			height: 2.5rem;
			width:1px;
		}
		.process-item{
    				height: 100px;
    				margin: 1rem 0;
    			}
	}
}
.project-item{
    img{
        @include transition(all ease 0.5s);
    }
    &:hover{
        img{
            transform: scale(1.03);
            @include transition(all ease 0.5s);
        }
    }
}