.svc-spec-page {
	.masthead{
		overflow: hidden;
	}
    .svc-specs {
        margin: 5.5rem 0;
        .spec-item {
            @include flexbox();
            @include align-items(center);
            margin-bottom: 2.14rem;
            img {
                with: 24px;
                margin-right: 1.43rem;
            }
            h5 {
                font-size: 1.14rem;
                font-weight: 300;
                margin-bottom: 0;
            }
        }
    }
    .svc-header-img {
        position: relative;
        .img-z1 {
            position: relative;
            z-index: 3;
            top: 3.57rem;
        }
        .img-z2 {
            position: absolute;
            z-index: 4;
            top: 25%;
        }
        .img-z3 {
            position: absolute;
            right: 2rem;
            top: 12rem;
        }
        .img-z4 {
            position: relative;
            z-index: 4;
            top: 0;
        }
    }
    .tech-specs {
        .tech-icon {
            height: 11.42rem;
            width: 11.42rem;
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
        }
    }
}